{% load static %}

<!-- Start css -->

<!-- jQuery UI css -->
<link href="{% static 'assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
<!-- jQuery Confirm css -->
<link href="{% static 'assets/plugins/jquery-confirm/css/jquery-confirm.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<!-- main style css -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />

<!-- Mystyle css -->
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css" />
<!-- Datepicker css -->
<link href="{% static 'assets/plugins/datepicker/datepicker.min.css' %}" rel="stylesheet" type="text/css" />
<!--color change-->
<link rel="stylesheet" href="{% static 'colorscheme/css/default.css' %}" type="text/css" />
<link id="theme-style" rel="stylesheet" type="text/css" href="" />
<!-- End css -->
